/*
  Theme Name: MyCoin - Bitcoin Crypto Currency Template
  Theme URL: 
  Author: udayraj
  Author URI: https://themeforest.net/user/udayraj
  Creation Date: 30 December 2017
  Description: A default stylesheet for MyCoin - Bitcoin Crypto Currency Template.
  Version: 1.0
*/

/*=======================================================================
              [Table of Contents]
=========================================================================

01. Typography 
02. General
03. Top Bar
04. Navigation
05. Home Slider
06. Why Choose
07. Featured Product
08. Quote
09. About
10. Testimonials
11. Counter
12. Team
13. Clients
14. Call Out
15. Footer
16. Page Baner
17. About Us Page
18. Team Page
19. Get Quote Page
20. Contact Page
21. Testimonials Page
22. Projects Page
23. Project Details
24. News Grid Page
25. News List Page
26. Single Post Page
27. My Account Page
28. Cart Page
29. Checkout Page
30. Shop Page
31. Single Product Page
32. Solution Details
33. Faq Page
34. We Are
35. News Two
36. Footer Top
37. Call Out Two
38. We Are Two
39. Features
40. Featured Product Two
41. Testimonial Two
42. Clients Two
43. Preloader
44. Gallery
45. Process
46. Home Contact
47. Prices
48. Why Choose 2
49. Market 
50. Price Plan
51. Chart
52. Converter

/* =============== Colors Used=====================
  Orange: #FF8E31;
  Black Tone: #252525;
  Dark Gray: #222222;
  White: #FFF;
 ===================================================*/

/* ================================= */
    /*===== Typography =====*/
/* ================================= */
body {  
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}
@-moz-document url-prefix() {
  .solution-dtl p, 
  .about-block p,
  .about-features-dtl p,
  .team-block p,
  .footer-widget p,
  .footer-widget ul li,
  .footer-news ul li,
  .footer-contact p,
  .footer-address li,
  .subscribe-form .form-control,
  .about-page-block p,
  .team-member p,
  label,
  .form-control,
  .project-description p,
  .project-description ul li,
  .news-grid-dtl p,
  .news-list-dtl p,
  .meta-tags li,
  .rct-news-widget .date,
  .single-post-point p,
  .single-post-written p,
  .blog-comment p,
  .comments-date,
  .single-product-dtl p,
  .product-comment-block p,
  .checkout-login-block p,
  .contact-page-main-block .contact-section p,
  .address-dtl-block ul li, 
  .address-dtl-block ul li a,
  .address-dtl-block a,
  .we-are-dtl p,
  .features-main-block p {
    font-weight: 300 !important;
  }
  .home-slider {
    margin-top: 0!important;
  }
}
html,
body {
  height: 100%;
}
h1, h2, h3, h4, h5, h6 { 
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0;
  color: #222;
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 26px;  
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
a {  
  color: #888;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover, 
a:focus {
  color: #FF8E31;
  text-decoration: none;
}
a:active {
  color: #82BA01;
  text-decoration: none;
}
p {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #888;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}
.clr-white {
  color: #FFF;
}
.clr-black {
  color: #000;
}

/* ================================= */
    /*===== General =====*/
/* ================================= */
.overlay-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);   
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;      
}
.parallax {
  width: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;   
  position: relative;      
}
.btn-default {
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.69;
  letter-spacing: 0.3px;
  text-align: center;
  color: #FFF;
  border: none;
  padding: 12px; 
  text-transform: uppercase;
  background-color: #FF8E31;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}
.btn-default:hover {
  color: #FFF;
  background-color: #252525;
}
.btn-white {
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.69;
  letter-spacing: 0.4px;
  text-align: center;
  color: #1B1C1E;
  background-color: #FFF;
  border: none;
  padding: 12px; 
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}
.btn-white:hover {
  color: #FFF;
  background-color: #FF8E31;
}
.btn-grey {
  border-radius: 2px;
  background-color: #EEE;
  font-size: 12px;
  color: #555;
  border: solid 1px #E8E8E8;
  padding: 12px 30px;
}
.btn-grey:hover {  
  border-radius: 2px;
  background-color: #FF8E31;
  border: solid 1px #FF8E31;
}
.section {
  margin-bottom: 35px;
}
.section-heading {
  color: #222;
}
.section-heading span {
  font-weight: 700;
}
.section-sub-heading {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 4.8px;
  color: #FFF;
}
.section-sub-heading span {  
  color: #FFF;
  background-color: #9F9E9A;
}
.page-banner-main {
  width: 100%;
  height: 200px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;  
  position: relative;    
}
.breadcrumb-block {
  background-color: #F0F5F9;
  box-shadow: 0.5px 0.9px 3px 0 #EEE;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  list-style: none;
  padding-top: 17px;
}
.breadcrumb li,
.breadcrumb li a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #555;
}
.breadcrumb li a:hover {
  color: #222;
}
.breadcrumb>li+li:before {
  font: normal normal normal 14px/1 FontAwesome;
  color: #555;
  content: "\f105";
}
.breadcrumb-btn {
  text-align: right;
}
.breadcrumb-btn .btn-default {
  border-radius: 0;
  font-weight: 700;
  padding: 15px 18px;
}
.owl-dots {
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #000;
  background: transparent;
  margin-right: 5px;
  display: inline-block; 
}
.owl-dot.active {
  border: 1px solid #0891FF;
  background: #0891FF;
}
@media(max-width:767px) {  
  .owl-nav {
    visibility: hidden;
  }  
  .breadcrumb-btn {
    display: none;
  } 
}
.pad-0 {
  padding: 0;
}
.plain-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.85;
  letter-spacing: 0.7px;
  color: #FF8E31;
  text-transform: uppercase;
}
.plain-btn i {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}
.plain-btn:hover i {
  padding-left: 5px;
  opacity: 1;
}
.form-control {
  height: 45px;
  border-radius: 0;
  border: solid 1px #E8E8E8;
}
.form-control:focus {
  border: solid 1px #E8E8E8;
  -webkit-box-shadow: none;
  box-shadow: none;
}
textarea:focus {
  outline: -webkit-focus-ring-color auto 0;
}
label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.4px;
  color: #666;
  font-weight: 400;
}
label span {  
  color: #999;
}

/* ================================= */
    /*===== Top Bar =====*/
/* ================================= */
.top-bar {
  width: 100%;
  height: 46px;
  background-repeat: repeat-x;     
  position: relative; 
  background-color: #111;
}
.info-bar p {       
  font-family: 'Roboto', sans-serif;
  padding: 14px 0;
  letter-spacing: 0.4px;
  color: #888;
}
.top-social-icon  {
  text-align: right;
}
.top-social-icon li {
  display: inline-block;
  letter-spacing: 1px;
  line-height: 1.3;  
  padding: 14px 0;
}
.top-social-icon li a {
  color: #999;
  font-size: 20px;
}
.top-social-icon li a:hover {
  color: #FF8E31;
}
@media(max-width:992px) {  
  .info-nav {
    display: none;
  }
}
@media(max-width:767px) { 
  .logo a img {
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
  }
  .nav-bar .btn-default {
    display: none;
  }
}

/* ================================= */
    /*===== Navigation =====*/
/* ================================= */
.nav-bar {
  padding: 45px 0 0; 
  background-color: #222;
}
.info-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;  
  line-height: 1.57;
  letter-spacing: 0.3px;  
}
.info-nav-heading { 
  font-size: 14px; 
  font-weight: 300;
  color: #AAA;
}
.info-nav-dtl,
.info-nav-dtl a {
  font-size: 14px;
  font-weight: 500;
  color: #DDD;
}
.navigation {
  margin: 38px 0 0;  
  z-index: 99;
  position: relative;
  background-color: #FFF;  
  background: url(../images/bg/menu-bg.jpg);
  max-height: 73.33px;
}
#cssmenu > ul > li a {
  color: #444;
  border-left: 1px solid rgba(0,0,0,0.08);
}
#cssmenu > ul > li {
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;    
}
#cssmenu > ul > li:hover a,
#cssmenu > ul > li.active a {
  color: #222;
}
#cssmenu > ul > li.has-sub > a {
  margin-right: 25px;
}
#cssmenu ul ul {    
  margin-top: 0;
}
.request-model-body {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.request-model-body .form-control {
  width: 60%;
  border-radius: 4px;
  background-color: #FFF;
  border: solid 1px #E8E8E8;
  text-align: left;
  margin: 0 auto;
}
.request-model-body textarea {    
  padding-top: 10px;
  padding-left: 15px;
  width: 60%;
  border-radius: 4px;
  border: 1px solid #E8E8E8;
}
.nav-right {
  margin: 38px 0 0; 
  background-color: #FFF;
  max-height: 78px;
  border-left: 1px solid rgba(0,0,0,0.08);
  position: relative;
  z-index: 1;
  background: url(../images/bg/menu-bg.jpg);
  max-height: 73.33px;
  z-index: 9;
  position: relative;
}
.nav-right ul li {
  display: inline-block;
}
.download-btn {
  padding: 27px 15px;  
  border-right: 1px solid rgba(0,0,0,0.08);
}
.download-btn a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #444;
  text-transform: uppercase;
}
.download-btn a i {
  color: #FF8E31;
}
.search-btn {
  width: 40px;
}
.search-btn a {
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.3px;
  color: #444;
  text-align: center;
}
/*Search*/
.search {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  padding-top: 10;    
  z-index: 999999;
  opacity: 1;
  background-color: #222;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;    
}
.search .container {
  position: relative;
  margin-top: 20px;
}
.search.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.search-box {
  width: 95%;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;  
  color: #999;
  text-transform: uppercase;
  background: none;
}
.search-box::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #999;
  text-transform: uppercase;
}
.search-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  color: #999;
  background: #222;
}
.search-close:hover {  
  color: #FF8E31;
}
.search input:focus {
  outline: none!important;
  border-color: none;   
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media(max-width:768px) {  
  .navigation {   
    background: #FFF;
    max-height: inherit;
  }  
  #cssmenu.small-screen #menu-button {  
    color: #444;
    background: url(../images/bg/menu-bg.jpg);
  }
  #cssmenu.small-screen #menu-button:before {   
    background: #444;
  }
  #cssmenu.small-screen #menu-button:after {   
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
  }
  #cssmenu.small-screen #menu-button.menu-opened:before {
    background: #444;
  }
  #cssmenu.small-screen #menu-button.menu-opened:after {
    background: #444;
  }
  #cssmenu > ul > li > a {
    margin: 11px 0;
    color: #444;
  }
  #cssmenu.small-screen li > ul > li {
    background: #FFF; 
  }
  #cssmenu.small-screen li > ul > li a {
    color: #777; 
  }
  #cssmenu.small-screen li > ul > li:hover {
    background: #ECC53F; 
  }
  #cssmenu.small-screen li > ul > li:hover a {
    color: #222; 
  }  
  .nav-right {
    max-height: 46px;
  }
  .search-btn {
    visibility: hidden;
    display: none;
  }
  .download-btn {
    display: none;
    visibility: hidden;
  }
}
@media(max-width:767px) {  
  .nav-right {
    display: none;
  }
}
@media(min-width: 768px) and (max-width: 992px) {  
  #cssmenu > ul > li.has-sub > a {
    margin-right: 5px;
  }
  #cssmenu > ul > li.has-sub > a {
    padding-right: 14px;
  }
  #cssmenu > ul > li > a {
    padding: 5px 10px;
  }
  .search-btn {
    visibility: hidden;
    display: none;
  }
}

/* ================================= */
    /*===== Home Slider =====*/
/* ================================= */
.home-slider {
  margin-top: -40px;
}
.home-slider-bg {    
  width: 100%;
  height: 550px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;  
  position: relative;    
}
.slider-dtl {
  width: 509px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.slider-heading {
  color: #FFF;
}
.slider-heading span {
  color: #FF8E31;
}
.slider-sub-heading {
  color: #FFF;
  font-weight: 400;  
  line-height: 1.44;
  margin: 13px 0 37px;
}
.slider-dtl .btn-default {
  color: #FFF;
}
.slider-dtl .btn-default:hover {
  background-color: #FFF;
  color: #222;
}
.home-slider .owl-prev {
  left: 30px;
}
.home-slider .owl-next {
  right: 30px;
}
.home-slider .owl-prev,
.home-slider .owl-next { 
  color: #FFF;
  font-size: 20px;
  position: absolute; 
  top: 50%;
  transform: translate(0, -50%);
  width: 0;
  height: 50px;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  line-height: 54px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home-slider .owl-prev:hover,
.home-slider .owl-next:hover {  
  background-color: rgba(0,0,0,1);
  color: #FF8E31;
}
.home-slider:hover .owl-prev,
.home-slider:hover .owl-next {
  opacity: 1;
  width: 50px;
}
@media(max-width:767px) {  
  .slider-dtl {
    width: 300px; 
  }
}

/*===== Slider Effects =====*/
.home-slider.owl-carousel .owl-item .slider-dtl {
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 1.3s;
  -ms-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -moz-transition-delay: 1.3s;
  transition-delay: 1.3s;  
}
.home-slider.owl-carousel .owl-item .slider-dtl.top-effect {
  opacity: 0; 
  top: 0;  
}
.home-slider.owl-carousel .owl-item.active .slider-dtl.top-effect { 
  opacity: 1;  
  top: 50%;
}
.home-slider.owl-carousel .owl-item .slider-dtl.left-effect {
  opacity: 0; 
  margin-left: -500px;  
  overflow: hidden;
}
.home-slider.owl-carousel .owl-item.active .slider-dtl.left-effect { 
  opacity: 1;  
  margin-left: 0;
}

/* ================================= */
    /*===== Why Choose =====*/
/* ================================= */
.whychoose-main-block {
  padding: 60px 0 28px;
}
.whychoose-block {
  padding: 0 0 30px;
}
.whychoose-img {
  position: relative;
  overflow: hidden;  
}
.whychoose-block .whychoose-img img { 
  -webkit-filter: grayscale(0); 
  -ms-filter: grayscale(0); 
  -o-filter: grayscale(0); 
  -moz-filter: grayscale(0); 
  filter: grayscale(0);
  -webkit-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  -moz-transition: all 3s ease;
  transition: all 3s ease;
}
.whychoose-block:hover .whychoose-img img {   
  -webkit-filter: grayscale(100%); 
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); 
  -moz-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.whychoose-block .overlay-bg {   
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 70px;
  opacity: 1;
  background: rgba(34,34,34,0.9);
}
.whychoose-block:hover .overlay-bg {   
  height: 100%;
}
.whychoose-block .overlay-bg i {
  color: #FF8E31;
  font-size: 34px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.whychoose-block .overlay-bg i:hover {
  color: #FFF;
}
.whychoose-dtl {
  height: auto;
  font-size: 13px;
  line-height: 1.69;
  letter-spacing: 0.3px;  
}
.whychoose-heading a,
.whychoose-heading {
  margin: 28px 0 15px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #222;
}
.whychoose-dtl p { 
  line-height: 1.69;
  letter-spacing: 0.3px;
}

/* ================================= */
    /*===== Quote =====*/
/* ================================= */
.quote-main-block {
  padding: 85px 0 75px;
  width: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;   
}
.quote-main-block .overlay-bg {
  background: rgba(0,0,0,0.7);
}
.quote-text {  
  max-width: 825px;
  margin: 0 auto;
  left: 0;
  right: 0; 
  position: relative;
}
.quote-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.5px;
  text-align: center;
  color: #FFF;
}
@media(max-width:992px) {  
  .quote-text {  
    max-width: 80%;
  }
}

/* ================================= */
    /*===== About =====*/
/* ================================= */
.about-main-block {
  padding: 70px 0 0;
}
.about-heading {
  padding: 0 0 18px;
}
.about-block p {
  padding: 2px 0 5px;
  line-height: 1.85;
  letter-spacing: 0.3px;
}
.about-features-block {
  padding-bottom: 30px;
}
.about-features-heading {
  padding: 0 0 14px;
  font-weight: 400;
}
.about-features-dtl p {
  line-height: 1.65;
}
.about-features-block .about-features-icon {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 72px;
  height: 72px;  
  color: #FF8E31;
  font-size: 34px;
  line-height: 80px;
  text-align: center;
  background: url(../images/icons/icons-bg.jpg);
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media(max-width:767px) {  
  .about-block {
    margin-bottom: 30px;
  }
}

/* ================================= */
    /*===== Testimonials =====*/
/* ================================= */
.testimonials-main-block {
  background-color: #F0F5F9;  
  padding: 69px 0;
  background-repeat: repeat-x;     
  position: relative; 
}
.testimonial-detail {
  position: relative; 
  box-shadow: 1px 1.7px 3px 0 rgba(0, 0, 0, 0.05);
}
.testimonial-detail p {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  font-size: 16px;
  padding: 40px 60px 40px 40px;  
}
.testimonial-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -20px;
  left: 50px;
}
.testimonial-img {
  width: 65px;
  height: 65px;
  display: inline-block;
  margin: 13px 0 0 30px;
}
.testimonial-client-dtl {
  margin-left: 22px;
  display: inline-block;
}
.testimonial-client {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.73;
  color: #232323;
}
.testimonial-client span {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #777;
}
.rating {
  margin: 10px 0 0;
  text-align: left;
}
.rating li {
  display: inline-block;
  color: #FF8E31;
}
.rating li.disable {
  color: #C2C2C2;
}
.testimonials-main-block .owl-prev {
  right: 50px;
}
.testimonials-main-block .owl-next {
  right: 0;
}
.testimonials-main-block .owl-prev,
.testimonials-main-block .owl-next { 
  color: #232323;
  font-size: 22px;
  position: absolute; 
  top: -70px;
  width: 40px;
  height: 40px;
  background-color: #FFF;
  background: url(../images/icons/testimonial-arrow.png);
  text-align: center;
  line-height: 40px;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.testimonials-main-block .owl-prev:hover,
.testimonials-main-block .owl-next:hover {    
  color: #999;
}

/* ================================= */
    /*===== Counter =====*/
/* ================================= */
.counter-main-block .parallax {   
  padding: 77px 0 82px;
}
.counter-main-block .overlay-bg {
  opacity: 0.9;
  background-repeat: repeat;  
}
.counter-main-block .counter-heading {
  color: #FFF; 
}
.counter-main-block .counter-heading span {
  color: #FF8E31;
}
.counter-block {
  padding: 10px 0 0;
}
.counter-number {
  color: #FFF; 
  font-size: 45px;
  font-weight: 300;
  line-height: 0.67;
  display: inline-block;
}
.counter-number-spec {
  color: #FFF; 
  font-size: 45px;
  font-weight: 300;
  line-height: 0.67;
  display: inline-block;
}
.counter-text {
  font-size: 14px;
  line-height: 2.14;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
}
@media(max-width:767px) {  
  .counter-block {
    text-align: center;
  }  
}
@media(max-width:992px) {  
  .counter-block {
    margin: 30px 0 0;
  }
  .counter-main-block .overlay-bg {
    background-repeat: repeat;  
  }
}

/* ================================= */
    /*===== Team =====*/
/* ================================= */
.team-main-block {
  padding: 80px 0 73px;
}
.team-main-block .section {
  margin-bottom: 20px;
}
.team-img {
  position: relative;
  overflow: hidden;
}
.team-social {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 100%;
  background-color: rgba(255,142,49,0.7);
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.team-member:hover .team-social {
  opacity: 1;
  right: 0;
}
.team-social ul li {
  display: block;  
  text-align: center;
  padding: 10px 15px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.team-social ul li a {
  color: #FFF;
  font-size: 15px;
}
.team-social ul li:hover {
  background-color: #FF8E31;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}
.team-block p {
  line-height: 1.85;
  letter-spacing: 0.3px;
}
.team-block p a {
  color: #FF8E31;
}
.team-name,
.team-name a {
  margin-top: 20px;
  color: #222;
}
.team-post {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #777;
  text-transform: uppercase;
}
.team-contact {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  letter-spacing: 0.4px;
  color: #777;
  margin-top: 06px;
}
.team-mail {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.73;
  letter-spacing: 0.5px;
  color: #777;
}
@media(max-width:767px) {  
  .team-block {
    margin-bottom: 30px;
  }
  .team-main-block .team-img img {
    width: 100%;
  }
}
@media(max-width:992px) {  
  .team-main-block {
    padding: 80px 0 43px;
  }
  .team-main-block .team-member {
    margin-bottom: 30px;
  }
}

/* ================================= */
    /*===== Clients =====*/
/* ================================= */
.clients-main-block {
  background-color: #F0F5F9;
  padding: 58px 0 68px;
}

/* ================================= */
    /*===== Call Out =====*/
/* ================================= */
.call-out-main-block {
  background-color: #FF8E31;
  padding: 50px 0;   
  z-index: 999;
  position: relative;
}
.call-block {
  padding: 10px 0 0; 
  font-size: 22px;
  font-weight: 500;  
  color: #FFF;
}
.call-out-heading {
  color: #FFF;
}
.call-btn {
  text-align: right;
}
.call-btn .btn-default {  
  background-color: #252525;
  color: #FFF;
  padding: 13px 26px 11px;
}
.call-btn .btn-default:hover {
  background-color: #FFF;
  color: #222;  
}
@media(max-width:767px) {  
  .call-out-main-block .call-block {
    margin-bottom: 30px;
    text-align: center;
  }
  .call-btn {
    text-align: center;
  }
}
@media(min-width: 768px) and (max-width: 992px) {  
  .call-btn .btn-default {
    padding: 13px 10px 11px;
  }
}

/* ================================= */
    /*===== Footer =====*/
/* ================================= */
.footer-main-block {
  background-color: #2A2A2A;
  background-repeat: repeat-x;
}
.footer-block {
  padding: 70px 0 37px;
}
.footer-heading {
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  line-height: 4.13;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.footer-about img {
  margin: 15px 0 20px;
}
.footer-about p {
  font-size: 14px;
  line-height: 1.57;
  padding: 12px 0 0;
  color: #888;
  margin-bottom: 30px;
}
.footer-social-icon ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
}
.footer-social-icon ul li:first-child {
  padding-left: 0;
}
.footer-solutions ul li {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 0.3px;
  padding: 10px 0 10px;
  color: #888;
  border-bottom: 1px solid #323232;
}
.footer-solutions ul li:last-child {  
  border-bottom: 0 solid #323232;
}
.footer-news ul li {
  font-size: 13px;
  line-height: 1.85;
  font-weight: 400;
  color: #888;
  padding: 10px 0 10px;
  border-bottom: 1px solid #323232;
}
.footer-news ul li:last-child {  
  border-bottom: 0 solid #323232;
}
.footer-contact p {
  padding: 4px 0 10px;
  line-height: 1.69;
  font-weight: 400;
}
.footer-address li {
  font-size: 13px;
  line-height: 1.85;
  color: #888;
  padding: 10px 0 0;
}
.footer-address li span {  
  color: #AAA;
}
.copyright {
  padding: 25px 0 40px;
  background-color: #222; 
  background-repeat: repeat-x;
}
.copyright-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.footer-nav ul {
  text-align: right;
}
.footer-nav ul li {
  display: inline-block;
  padding: 0 5px;
}
.footer-nav ul li:last-child {
  padding: 0 0;
}
.footer-nav ul li a {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #888;
   padding: 0 5px;
}
.footer-nav ul li a:hover {
  color: #FF8E31;
}
@media(max-width:767px) {  
  .copyright-text p {
    text-align: center;
  }
  .footer-nav ul {
    text-align: center;
  }
}
@media(max-width:992px) {  
  .footer-widget {
    margin-bottom: 30px;
  }  
}
@media(min-width: 768px) and (max-width: 992px) {  
  .copyright {  
    background-repeat: round;
  }
}

/* ================================= */
    /*===== Page Baner =====*/
/* ================================= */
.page-banner-main-block {
  width: 100%;
  padding: 120px 0 125px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;  
  margin-top: -40px;
}
.page-banner-main-block .overlay-bg {
  background: rgba(0,0,0,0.3);
}
.page-banner-heading {
  font-size: 40px;
  position: relative;
  color: #FFF;
}

/* ================================= */
    /*===== About Us Page =====*/
/* ================================= */
.about-page-main-block {
  padding: 72px 0 50px;
}
.about-page-heading {
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.5px;
  margin-bottom: 26px;
}
.about-page-block p {
  line-height: 1.71;
  letter-spacing: 0.3px;
}
.about-page-img {
  margin-bottom: 30px;
}
.team-abt-main-block {
  padding: 65px 0 76px;
}
.team-abt-main-block .section {
  margin-bottom: 35px;
}
.team-abt-main-block .team-img img {
  width: 100%;
}
@media(max-width:992px) {  
  .team-abt-main-block {
    padding: 65px 0 46px;
  }
  .team-abt-main-block .team-member {
    margin-bottom: 30px;
  }
}
@media(min-width: 768px) and (max-width: 992px) {  
  .about-page-img img {
    width: 100%;
  }
}

/* ================================= */
    /*===== Team Page =====*/
/* ================================= */
.team-page-main-block {
  padding: 70px 0 20px;
}
.team-page-main-block .team-member {
  margin-bottom: 60px;
}
.team-page-main-block .team-img img {
  width: 100%;
}
.team-page-main-block .team-post {    
  margin-bottom: 10px;
}
.team-member p {
  line-height: 1.69;
  letter-spacing: 0.3px;
}
.team-page-main-block .team-mail a {
  color: #FF8E31;
}
.join-team-main-block {
  padding: 68px 0;
  background-color: #F0F5F9;
}
.join-team-heading {
  font-size: 28px;
  font-weight: 500;
  color: #252525;
  margin-bottom: 24px;
}

/* ================================= */
    /*===== Get Quote Page =====*/
/* ================================= */
.quote-page-main-block {
  padding: 70px 0 80px;
}
.quote-heading {
  font-size: 28px;
  font-weight: 900;
  line-height: 2.21;
  color: #232323;
}
.quote-section p {
  line-height: 1.86;
  letter-spacing: 0.4px;
  color: #666;
}
.quote-section p a {
  font-weight: 500;
  color: #232323;
}
.quote-form {
  margin-top: 20px;
}
.quote-form textarea.form-control {
  height: 220px;
  border-radius: 0;
}
.quote-form .btn-default {    
  width: 100%;
  margin-top: 15px;
  border-radius: 2px;
  border: solid 1px #E8E8E8;
}

/* ================================= */
    /*===== Contact Page =====*/
/* ================================= */
.contact-page-main-block {
  padding: 68px 0 83px;
}
.contact-map {
  width: 100%;
  height: 550px;
  background-color: #E4E4E4;
}
.contact-page-main-block .contact-heading {
  font-size: 28px;
  font-weight: 900;
  line-height: 2.21;
  color: #232323;
}
.contact-page-main-block .contact-section p {
  line-height: 1.86;
  letter-spacing: 0.4px;
  color: #666;
}
.contact-form {
  margin-top: 20px;
}
.contact-form textarea.form-control {
  height: 150px;
  border-radius: 0;
}
.address-block {
  background-color: #F0F5F9;
  margin-top: -131px;
}
.address-top-block {
  width: 100%;
  background-color: #FF8E31; 
  padding-left: 40px; 
  border-bottom: 1px solid rgba(35,35,35,0.3);
}
.address-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 3.1;
  color: #FFF;
}
.address-dtl-block {
  padding: 32px 60px 20px 40px; 
}
.address-dtl-heading {
  line-height: 1.28;
  color: #222;
  margin-bottom: 20px;
}
.address-dtl-block ul li,
.address-dtl-block ul li a {
  font-size: 13px;
  line-height: 1.69;
  letter-spacing: 0.4px;
  color: #222;
  padding-top: 6px;
  text-decoration: none;
}
.address-dtl-block ul li span {
  font-weight: 700;
}
.address-dtl-block a {
  color: #222;
  text-decoration: underline;
  line-height: 5;
}
.address-block hr {
  margin: 0;
  border-top: 1px solid rgba(35,35,35,0.7);
  opacity: 0.2;
}
.address-arrow ul {
  width: 100%;
}
.address-arrow ul li {
  text-align: center;
  display: inline-block;
  text-align: center;
  width: 177px;
  background-color: #FF8E31;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.address-arrow ul li a {
  font-size: 30px;
  color: #FFF;
}
.address-arrow ul li:hover {
  background-color: #222;
}
@media(max-width:767px) {  
  .address-block {
    margin-top: 30px;
  }
  .address-arrow ul li {    
    width: 160px;
  }
}
@media(min-width: 768px) and (max-width: 992px) {  
  .address-top-block {
    padding-left: 15px;
  }
  .address-dtl-block {
    padding: 32px 60px 20px 15px;
  }
  .address-arrow ul li {    
    width: 100px;
  }
}

/* ================================= */
    /*===== Testimonials Page =====*/
/* ================================= */
.love-us-main-block {
  margin: 70px 0 80px;
}
.love-us-main-block .section {
  margin-bottom: 10px;
}
.love-us-main-block .section-heading {
  color: #222;
  line-height: 1.35;
  font-weight: 700;
}
.love-us-block {
  max-width: 734px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.love-us-block .rating {
  text-align: center;
  margin: 0;
}
.love-us-block p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
}
.love-us-client {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.73;
  color: #232323;
}
.love-us-client span {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #777;
}
.love-us-gallery {
  max-width: 853px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-top: 73px;
}

/* ================================= */
    /*===== Projects Page =====*/
/* ================================= */
.projects-page-main-block {
  padding-bottom: 50px;
}
.projects-filter ul {
  border-bottom: 1px solid #EEE;
  margin: 37px 0 40px;
}
.projects-filter ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 4.17;
  letter-spacing: 0.4px;
  color: #999;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.projects-filter ul li:hover {  
  color: #222;
  border-bottom: 3px solid #FF8E31;
}
.scale-anm {
  transform: scale(1);
}
.mfp-title {
  color: #FFF;
  text-transform: uppercase;
}
.projects-gallery .featured-block {
  margin: 0 0 30px;
}
@media(max-width:767px) {  
  .projects-page-main-block .featured-img img {
    width: 100%;
  }
}

/* ================================= */
    /*===== Project Details =====*/
/* ================================= */
.project-dtl-main-block {
  padding: 62px 0 60px;
}
.project-dtl-block {
  background-color: #F6F6F6;
  padding: 40px 47px 40px 37px;
  border-left: 3px solid #FF8E31;
  margin-bottom: 34px;
}
.project-dtl-heading {
  font-size: 22px;
  line-height: 1.59;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  margin-bottom: 17px;
}
.project-dtl-heading:after {
  content: " ";
  width: 35px;
  height: 3px;
  background-color: #FF8E31;
  color: #FF8E31;
  position: absolute;
  bottom: 0;
  left: 0;
}
.project-dtl-block ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 2.33;  
  font-weight: 300;
  color: #777;
}
.project-dtl-block ul li span { 
  font-weight: 500;
  color: #555;
  margin-right: 10px;
}
.project-description {
  padding-bottom: 7px;
}
.description-heading {
  font-size: 20px;
  line-height: 1.75;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}
.project-description p {
  line-height: 1.85;
  letter-spacing: 0.4px;
  color: #777;
}
.project-description ul li {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 0.4px;
  color: #777;
}
.project-description ul li::before {
  content: "• ";
  color: #FF8E31; 
  font-size: 15px;
}
.project-dtl-img {
  margin-bottom: 20px;
}
.project-nav-main-block {
  box-shadow: 0 -1px 1px 0 #EEE;  
}
.project-nav-block {
  background-color: #FFF;
  padding: 36px 0;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-nav-block:hover {
  background-color: #FCFCFC;
}
.project-nav-block a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.69;
  letter-spacing: 0.3px;
  color: #777;
  text-transform: uppercase;
}
.project-nav-block:hover a {  
  color: #222;
}
@media(max-width:767px) {  
  .sol-dtl-block {
    margin-top: 60px;
  }
}

/* ================================= */
    /*===== News Grid Page =====*/
/* ================================= */
.news-grid-main-block {
  padding: 63px 0 74px;
}
.news-grid-block {
 border: solid 1px #EEE;
 border-radius: 0;
 margin-bottom: 40px;
}
.news-grid-dtl {
  padding: 30px 20px 32px 30px;
}
.news-grid-heading,
.news-grid-heading a {
  font-weight: 700;
  line-height: 1.33;
  color: #222;
}
.news-grid-heading a:hover {
  color: #FF8E31;
}
.meta-tag ul li {
  display: inline-block;
  font-size: 13px;
  padding-right: 10px;
  line-height: 1.92;
  letter-spacing: 0.4px;
  color: #777;
  margin-bottom: 10px;
}
.news-grid-dtl .date {
  font-size: 13px;
  line-height: 1.92;
  letter-spacing: 0.4px;
  color: #777;
  margin-bottom: 10px;
}
.news-grid-dtl p {
  line-height: 1.85;
  letter-spacing: 0.3px;
}
.pagination {
  margin: 0;
}
.pagination>li>a, 
.pagination>li>span {   
  padding: 6px 12px;  
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #292929;
  background-color: #F0F0F0;
  border: 0 solid #F0F0F0;
  margin-right: 5px;
}
.pagination>li.active>a, 
.pagination>li.active>span,
.pagination>li.active>a:hover, 
.pagination>li.active>span:hover,
.pagination>li>a:hover, 
.pagination>li>span:hover   {
  color: #FFF;
  background-color: #FF8E31;
  border: 0 solid #FF8E31;
}

/* ================================= */
    /*===== News List Page =====*/
/* ================================= */
.news-list-main-block {
  padding: 63px 0 80px;
}
.news-list-block {
  border-bottom: 1px solid #EEE;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
.news-list-dtl {
  margin-top: 38px;
}
.news-list-heading {
  font-size: 28px;
  line-height: 0.86;
  color: #222;
  margin-bottom: 10px;
}
.meta-tags {
  margin: 14px 0 22px;
}
.meta-tags li {
  display: inline-block;
  border-right: 1px solid #777;
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #777;
  padding-right: 10px;
}
.meta-tags li:last-child {
  border-right: 0 solid #777;
}
.news-list-dtl p {
  line-height: 2;
  letter-spacing: 0.4px;
  color: #777;
}
.news-list-dtl .btn-default {
  margin-top: 15px;
  background-color: #EEE;
  font-size: 12px;
  color: #555;
}

/*===== Side Bar Widgets =====*/
.sidebar-widget {
  margin-bottom: 40px;
}
.sidebar-widget:last-child {
  margin-bottom: 0;
}
.widget-heading {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.search-widget {
  position: relative;
}
.search-widget .search-form .form-control {
  font-family: 'Roboto', sans-serif;
  height: 45px;
  border: solid 1px #E8E8E8;
  font-size: 14px;
  color: #999;
  border-radius: 0;
}
.search-form a {
  font-size: 14px;
  color: #AAA;
  position: absolute;
  bottom: 12px;
  right: 15px;
}
.rct-news-widget ul li {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 14px;
  margin-bottom: 17px;
}
.rct-news-widget ul li:last-child {
  margin-bottom: 0;
}
.rct-news-widget .rct-news-title {
  font-size: 15px;
  line-height: 1.2;
  color: #222;
}
.rct-news-widget .date {
  font-size: 12px;
  line-height: 2.08;
  letter-spacing: 0.4px;
  color: #777;
}
.cat-widget ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #777;
  border-bottom: 1px solid #E8E8E8;
  padding: 15px 0;
}
.cat-widget ul li:first-child {
  padding: 0 0 15px;
}
.cat-widget ul li a:hover {  
  color: #292929;
}
.cat-widget ul li::before {
  content: "• ";
  color: #FF8E31; 
  font-size: 15px;
}
.tag-widget ul li {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  padding: 8px 15px 6px;
  letter-spacing: 0.4px;
  color: #777;
  text-align: center;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.tag-widget ul li:hover {
  background-color: #FF8E31;
}
.tag-widget ul li:hover a {
  color: #FFF;
}
@media(max-width:767px) {  
  .news-list-sidebar {
    margin-top: 60px;
  }
}

/* ================================= */
    /*===== Single Post Page =====*/
/* ================================= */
.single-post-main-block {
  padding: 63px 0 80px;
}
.news-list-block.single-post-block {
  margin-bottom: 20px;
  overflow: hidden;
}
.single-post-point {
  margin-bottom: 38px
}
.single-post-point:last-child {
  margin-bottom: 0
}
.post-point-heading {
  margin-bottom: 17px;
}
.single-post-point p {
  line-height: 2;
  letter-spacing: 0.4px;
  color: #777;
}
.post-point-img {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.post-point-img-caption {
  padding: 17px 37px;
  position: absolute;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.4px;
  text-align: center;
  color: #FFF;
  background-color: rgba(0,0,0,0.7);
}
.single-post-tag-block {
  padding-bottom: 50px;
}
.single-post-tag {
  padding-top: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.57;
  color: #232323;
}
.single-post-tag a {
  color: #777;
}
.single-post-tag a:hover {
  color: #222;
}
.single-post-share {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.57;
  color: #232323;
}
.single-post-share ul li {
  display: inline-block;
  text-align: center;    
  border-radius: 2px;
}
.single-post-share ul li a {
  display: inline-block;  
  font-size: 14px;
  line-height: 2.5;
  letter-spacing: 0.4px;
  text-align: center;
  color: #FFF;
  width: 32px;
  height: 32px;  
}
.single-post-share ul li a:hover {
  opacity: 0.9;
}
li.facebook {
  background-color: #3B5998;
}
li.twitter {
  background-color: #55ACEE;
}
li.google-plus {
  background-color: #DD4B39;
}
li.share {
  background-color: #408CFF;
}
.single-post-written {
  border-radius: 2px;
  background-color: #F0F5F9;
  padding: 30px;
  margin-bottom: 30px;
}
.written-img {
  display: inline-block;
  float: left;
}
.written-dtl {
  display: inline-block;
}
.written-by {
  font-size: 14px;
  line-height: 1.86;
  color: #222;
  margin: 10px 0;
}
.single-post-written p {
  line-height: 1.92;
  letter-spacing: 0.4px;
  color: #777;
}
.blog-comment .media {
  border: 1px solid #E8E8E8;
  padding: 30px;
}
.blog-comment .media.comments-reply {
  border: none;
  padding-bottom: 0;
}
.comments-heading {
  font-size: 22px;
  line-height: 2.82;
  color: #222;
}
.blog-comment .media-heading {
  font-weight: 400;
}
.blog-comment p {
  line-height: 1.85;
  letter-spacing: 0.4px;
  color: #777;
  margin-top: 10px;
}
.reply-btn {
  font-size: 12px;
  text-align: center;
  color: #555;
  border-radius: 2px;
  background-color: #EEE;
  border: solid 1px #E8E8E8;
}
.comment-form label span {
  color: #FC4242;
}
@media(max-width:767px) {  
  .single-post-tag {
    margin-bottom: 30px;
    text-align: center;
  }
  .single-post-share {
    text-align: center;
  }
}

/* ================================= */
    /*===== My Account Page =====*/
/* ================================= */
.my-account-main-block-block {
  padding: 42px 0 73px; 
}
.my-account-heading {
  font-size: 22px;
  font-weight: 700;
  line-height: 2.82;
  color: #222;
}
.my-account-form label span {
  color: #FC4242;
}
.my-account-form .btn-grey {
  margin-top: 15px;
}
.my-account-form .checkbox {
  display: inline-block;
  padding-left: 30px;
  position: absolute;
  margin-top: 30px;
}
.my-account-form .lost-pass {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.85;
  letter-spacing: 0.4px;
  color: #222;
  display: block;
  margin-top: 20px;
}

/* ================================= */
    /*===== Cart Page =====*/
/* ================================= */
.cart-main-block {
  margin: 60px 0 35px;
}
table {
  width: 100%;
  border: 1px solid #E8E8E8;
  table-layout: fixed;
}
td,
th { 
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #E8E8E8;
  font-size: 14px;
  color: #777;
  padding: 8px 8px;
}
th {
  font-size: 15px;
  font-weight: 500;
  color: #222;
}
td.remove-btn {
  text-align: center;
}
.remove-btn a {
  color: #FC4242;
}
.cart-product a:hover {
  color: #000;
}
.coupon-form .form-control {
  width: 157px;
  display: inline-block;
}
td.table-update {
  text-align: right;
}
.cart-total-main-block {
  padding-bottom: 80px;
}
.cart-total-block .btn-default {
  margin-top: 25px;
  width: 100%;
}
.cart-total-heading {
  font-size: 20px;
  line-height: 3.1;
  color: #222;
}
.cart-bg {
  background-color: #F0F5F9;
  border-right: 1px solid #E8E8E8;
}
.radio label {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}
.radio label span {  
  color: #222;
}
.text-top {
  vertical-align: top;
} 
.cart-total-block a {
  font-size: 14px;
  font-weight: 400;
  color: #FF8E31;
}
@media(max-width:992px) {  
  .coupon-form .btn-default {
    margin-top: 15px;
  }
  td.total-cart {
    overflow: hidden;
  }
}

/* ================================= */
    /*===== Checkout Page =====*/
/* ================================= */
.checkout-page-main-block {
  padding: 66px 0 80px;
}
.checkout-login {
  margin-bottom: 30px;
}
.checkout-bar {
  padding: 0 30px;
  margin-bottom: 25px;
  border-top: 3px solid #FF8E31;
  background-color: #F0F5F9;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 4.13;
  color: #555;
}
.checkout-bar span {   
  color: #222;
  font-weight: 400;
}
.checkout-login-block {
  padding: 30px;
  border: solid 1px #E8E8E8;
}
.checkout-login-block p {
  line-height: 1.85;
  color: #777;
}
.checkout-coupon {
  margin-bottom: 30px;
}
.checkout-coupon-block {
  padding: 30px;
  border: solid 1px #E8E8E8;
}
.checkout-coupon-form .form-control {
  width: 50%;
  display: inline-block;
  padding-top: -1px;
  height: 45px;
}
.checkout-heading {
  font-size: 22px;
  color: #222;
  margin-bottom: 30px;
}
.checkout-page-main-block label span {
  color: #FC4242;
}
.btn-dropdown {
  width: 100%;
  background-color: transparent;
  height: 45px;
  border-radius: 3px;
  border: solid 1px #E8E8E8;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-dropdown.focus, 
.btn-dropdown:focus,
.btn-dropdown:hover,
.btn.btn-dropdown:active,
.open>.dropdown-toggle.btn-dropdown.focus, 
.open>.dropdown-toggle.btn-dropdown:focus, 
.open>.dropdown-toggle.btn-dropdown:hover  {
  color: #555;
  background-color: transparent;
  border-color: #E8E8E8;
}
.dropdown-menu {
  width: 100%;
}
.btn .caret {    
  float: right;
}
.your-order-block {
  padding: 30px 0; 
}
.your-order-block .checkout-heading {
  margin-bottom: 24px;
}
.pay-method {
  padding: 28px 25px 20px;
  background-color: #F0F5F9;
}
.pay-method-info {
  padding-top: 10px;
  padding: 30px;
  background-color: #FFF;
  position: relative;
}
.pay-method-info:before {
  content: "";
  width: 32px;
  height: 16px;
  position: absolute;
  top: -8px;
  left: 30px;
  background: url(../images/icons/paymethodinfo.png);
}
.pay-method-info p {
  font-weight: 300;
  line-height: 1.85;
  color: #555;
}
a.papal {
  font-size: 12px;
  color: #FF8E31;
  margin-top: -20px;
  float: right;
}
img.paypal {
  display: inline-block;
}
hr {
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #E8E8E8;
}
@media(max-width:767px) {  
  a.papal {    
    margin-top: 0;
  }
}

/* ================================= */
    /*===== Shop Page =====*/
/* ================================= */
.shop-page-main-block {
  padding: 60px 0 80px;
}
.product-filter {
  margin-bottom: 30px;
}
.showing-result,
.showing-result a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
.showing-result a:hover {
  color: #222;
}
.product {
  margin-bottom: 40px;
}
.product-name {
  margin-top: 20px;
}
.product-price {
  font-size: 15px;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}
.shop-page-main-block hr {
  margin-top: 10px;
  margin-bottom: 30px;
  border-top: 1px solid #E8E8E8;
}
/* Product Category Widget*/
.pdct-cat-widget ul li {
  border: solid 1px #EEE;  
  border-left: 3px solid #E8E8E8;
  border-top: none;
  padding: 16px 20px;  
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.pdct-cat-widget ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
.pdct-cat-widget ul li:first-child {
  border-top: solid 1px #EEE;
}
.pdct-cat-widget ul li:hover,
.pdct-cat-widget ul li.active {
  background-color: #F0F5F9;  
  border-left: 3px solid #FF8E31;
}
/* Price Slider*/
.price-slider-amount > input {
  border: 0 none;
  font-size: 12px;
  font-weight: 700;
  color: #292929;
  line-height: 4;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  display:inline-block;
}
.slider-range {
  margin-bottom: 34px;
}
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: #EEE none repeat scroll 0 0;
  border: 0 none;
  height: 5px;
  position: relative;
}
.price-filter .ui-slider-handle.ui-state-default.ui-corner-all {
  background: #FFF none repeat scroll 0 0;
  border: solid 1px #E8E8E8;
  border-radius: 0;
  height: 15px;
  top: -5px;
  width: 15px;
  outline: none;
  position: absolute;
  z-index: 99;
}
.ui-slider-range.ui-widget-header.ui-corner-all {
  background: #FF8E31 none repeat scroll 0 0;
  height: 5px;
  position: absolute;
}
/* Popular Product Widget*/
.popular-pdct-widget ul li {
  border-bottom: 1px solid #EEE;
  padding-bottom: 26px;
  margin-bottom: 20px;
}
.popular-pdct-widget ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.popular-pdct-widget-heading {
  font-size: 14px;
  font-weight: 500;
}
.popular-pdct-widget-dtl .rating {
  font-size: 10px;
  margin: 5px 0 0;
}
.popular-pdct-widget-dtl .rating ul li {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.popular-pdct-widget-dtl .product-price {
  font-size: 14px;
}
@media(max-width:767px) {  
  .product-filter {
    margin-top: 60px;
  }
  .product-img img {
    width: 100%;
  }
}

/* ================================= */
    /*===== Single Product Page =====*/
/* ================================= */
.single-product-main-block {
  padding: 60px 0 40px;
}
.single-product-heading {
  font-size: 22px;
  font-weight: 700;
  color: #232323;
}
li.customer-review {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #777;
}
.single-product-price {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #222222;
}
.single-product-dtl p {
  line-height: 1.85;
  margin-top: 20px;
  letter-spacing: 0.4px;
  color: #777;
}
.product-stock {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 0.4px;
  color: #8AA47B;
}
.product-quantity {  
  border: solid 1px #E8E8E8;
  width: 20%;
  padding: 14px 0 6px 26px;
  margin: 10px 0 34px;
  height: 45px;
  text-align: center;
  display: inline-block;
}
.product-quantity form {
  cursor: pointer;
  display: inline-block;
}
.product-quantity .select-filter {
  line-height: 0;
}
.select-filter.number {
  font-size: 16px;
  font-weight: 700;
  color: #222;
  margin-top: -8px;
}
.cart-plus-minus-box {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  float: left;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  outline: medium none;
  text-align: center;
  width: 20px;
  margin-top: 3px;
  margin-right: 5px;
}
.inc.qtybutton {
  float: left;
  color: #AAA;
}
.dec.qtybutton {
  float: none;
  color: #AAA;
}
.btn-default.add-cart {
  margin-top: -22px;
  padding: 12px 40px
}
.single-product-category {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;  
  line-height: 1.5;
  color: #777;
}
.single-product-category a {
  color: #222;
}
.single-product-category a:hover {
  color: #FF8E31;
}
.product-comment-block {
  padding: 60px 0 30px;
}
.product-dtl-tab .nav-tabs {
  border-bottom: 1px solid #E8E8E8;
  font-family: 'Roboto', sans-serif;
}
.product-dtl-tab .nav-tabs>li.active {
  margin-top: 1px;
}
.product-dtl-tab .nav-tabs>li.active>a, 
.product-dtl-tab .nav-tabs>li.active>a:focus, 
.product-dtl-tab .nav-tabs>li.active>a:hover {
  color: #222;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #E8E8E8;
  border-bottom: none;
}
.product-dtl-tab .nav-tabs>li {
  background-color: #F0F5F9;
  border-radius: 0;
}
.product-dtl-tab .nav-tabs>li a {
  color: #222;
  font-size: 15px;
  font-weight: 500;
}
.product-des-heading {
  line-height: 3.88;
  letter-spacing: 0.5px;
  color: #222;
}
.product-comment-block p {
  line-height: 1.85;
  letter-spacing: 0.4px;
  color: #777;
}
.related-product-heading {
  font-size: 22px;
  font-weight: 900;
  line-height: 2.82;
  color: #222;
}
@media(max-width:767px) {  
  .product-desc-img {
    overflow: hidden;
    margin-top: 30px;
  }
}
@media(min-width: 768px) and (max-width: 992px) {    
  .product-desc-img {
    overflow: hidden;
    margin-bottom: 60px;
  }
}

/* ================================= */
    /*===== Solution Details =====*/
/* ================================= */
.solutions-detail-main-block {
  padding: 60px 0 60px;
}
.sol-dtl-doc ul li {
  border: solid 1px #E8E8E8;
  padding: 15px;
  margin-bottom: 15px;
}
.sol-dtl-doc ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #555;
}
.sol-dtl-doc ul li a:hover {  
  color: #222;
}
.sol-dtl-doc ul li:last-child {
  margin-bottom: 0;
}
.sol-dtl-block {
  margin-bottom: 40px;
}
.sol-dtl-block p {
  font-weight: 300;
  line-height: 1.85;
  letter-spacing: 0.4px;
  color: #777;
}
.sol-dtl-block ul {
  margin-top: 22px;
}
.sol-dtl-list-heading {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
.sol-dtl-block hr {
  margin-top: 50px;
  margin-bottom: 0;
  border-top: 1px solid #EEE;
}
.sol-faq-heading {
  font-size: 20px;
  padding-bottom: 20px;
  letter-spacing: 0.6px;
  color: #222;
}
.sol-dtl-faq p {
  font-weight: 300;
  line-height: 1.85;
  letter-spacing: 0.4px;
  color: #777;
}
.sol-dtl-faq .panel-group {
  margin-top: 40px;
}
.sol-dtl-faq .panel-default>.panel-heading {
  background-color: #FCFCFC;
  border-color: #E8E8E8;
  padding: 15px;
}
.sol-dtl-faq .faq-heading a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #292929;
}
.sol-dtl-faq .panel-default {
  margin-bottom: 10px;
}
.sol-dtl-faq .faq-btn {
  font-size: 16px;
  color: #292929;
  background-color: transparent; 
  float: right;
  border: none;
}
.sol-dtl-faq .faq-btn:hover,
.sol-dtl-faq .faq-btn:focus,
.sol-dtl-faq .faq-btn:active {
  color: #FF8E31;
  background-color: transparent;
  border: none;
  outline: 0 auto -webkit-focus-ring-color;
  box-shadow: none;
}
.sol-dtl-faq .faq-btn-minus {
  display: inherit;color: #FF8E31;
}
.sol-dtl-faq .collapsed .faq-btn-minus {
  display: none;
}
.sol-dtl-faq .faq-btn-plus {
  display: none;
}
.sol-dtl-faq .collapsed .faq-btn-plus {
  display: inherit;
}

/* ================================= */
    /*===== Faq Page =====*/
/* ================================= */
.faq-page-main-block {
  padding: 60px 0 60px;
}
.faq-page-block .panel-default>.panel-heading {
  background-color: #FFF;
  border-color: #E8E8E8;
  padding: 22px;
}
.faq-page-block .faq-heading a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #292929;
}
.faq-page-block .panel-default {
  margin-bottom: 10px;
}
.faq-page-block .faq-btn {
  font-size: 22px;
  text-align: center;
  color: #FFF;
  background-color: #2D2D2D; 
  border-radius: 2px;
  border: none;
  padding: 4px 10px;
  margin-top: -9px;
}
.faq-page-block .faq-btn:hover,
.faq-page-block .faq-btn:focus,
.faq-page-block .faq-btn:active {
  color: #FFF;
  background-color: #FF8E31;
  border: none;
  border-radius: 2px;
  outline: 0 auto -webkit-focus-ring-color;
  box-shadow: none;
}
.faq-page-block .faq-btn-minus {
  display: inherit;
  color: #FFF;
  background-color: #FF8E31;
}
.faq-page-block .collapsed .faq-btn-minus {
  display: none;
}
.faq-page-block .faq-btn-plus {
  display: none;
}
.faq-page-block .collapsed .faq-btn-plus {
  display: inherit;
}
.faq-page-block p {  
  font-weight: 300;
  line-height: 1.85;
  letter-spacing: 0.7px;
  color: #777;
}
@media(max-width:767px) {  
  .faq-page-block {
    margin-top: 60px;
  }
}

/* ================================= */
    /*===== We Are =====*/
/* ================================= */
.we-are-main-block {
  padding: 90px 0 80px;
}
.we-are-heading {
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  color: #252525;
  margin: 20px 0;
}
.we-are-dtl p {
  line-height: 1.85;
  letter-spacing: 0.3px;
  color: #888;
}
.we-are-feature {
  margin-top: 15px;
}
.we-are-feature-heading {
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #232323;
}
.we-are-feature-dtl {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.3px;
  color: #888;
}
@media(max-width:992px) { 
  .we-are-img-block {      
    margin-top: 30px; 
  } 
  .we-are-img img {
    width: 100%;
  }
}

/* ================================= */
    /*===== News Two =====*/
/* ================================= */
.news-grid-main-block.news-two {
  padding: 63px 0 40px;
} 
.news-two-slider .owl-prev {
  right: 50px;
}
.news-two-slider .owl-next {
  right: 0;
}
.news-two-slider .owl-prev,
.news-two-slider .owl-next { 
  color: #232323;
  font-size: 22px;
  position: absolute; 
  top: -70px;
  width: 40px;
  height: 40px;
  background-color: #FFF;
  background: url(../images/icons/testimonial-arrow.png);
  text-align: center;
  line-height: 40px;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.news-two-slider .owl-prev:hover,
.news-two-slider .owl-next:hover {    
  color: #999;
}

/* ================================= */
    /*===== Footer Top =====*/
/* ================================= */
.footer-top-main-block {
  background: rgba(34,34,34,1);
  background: -moz-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,1)), color-stop(100%, rgba(37,37,37,1)));
  background: -webkit-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 100%);
  background: -o-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 100%);
  background: -ms-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 100%);
  background: linear-gradient(to right, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 100%);  
}
.footer-map {
  background-color: #222;
  padding: 30px 15px;
}
.footer-map-heading {
  font-size: 22px;
  font-weight: 300;
  line-height: 2.27;
  color: #FFF;
}
.footer-map-dtl {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.3px;
  color: #888888;
}
.footer-subscribe {
  background-color: #252525;
  padding: 30px 15px;
}
.subscribe-form label {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.29;
  color: #CCC;
  margin: 18px 0 10px;
}
.subscribe-form .form-control {
  width: 400px;
  height: 50px;
  background-color: #303030;
  border-radius: 0;
  border: none;
  box-shadow: 1px 1.7px 3px 0 rgba(0, 0, 0, 0.05);
  display: inline-block;
  float: left;
  color: #CCC;
}
.subscribe-form .form-group {
  margin-bottom: 0px;
}
.subscribe-form .btn-default { 
  border-radius: 0 4px 4px 0;
  color: #252525;
  height: 50px;
}
.subscribe-form .btn-default:hover { 
  background-color: #FFF;
  color: #252525;
}
.subscribe-form label.submit-label {
  position: absolute;
  top: 0;
  left: 15px;
}
@media(max-width:992px) { 
  .footer-map-heading {      
    line-height: 1.2; 
  } 
  .subscribe-form .form-control {
    width: 60%;
  }
}

/* ================================= */
    /*===== Call Out Two =====*/
/* ================================= */ 
.call-out-main-block.call-out-two {
  box-shadow: none;
}

/* ================================= */
    /*===== We Are Two =====*/
/* ================================= */ 
.we-are-two-main-block .we-are-img img {
  border-radius: 0;
}
.we-are-two-main-block .we-are-dtl {
  padding-top: 60px; 
}
.we-are-two-main-block .we-are-heading {
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  color: #252525;
}
.we-are-two-main-block p {
  line-height: 1.85;
  letter-spacing: 0.3px;
  color: #888;
}
.we-are-two-main-block .btn-default {
  font-size: 13px;
  font-weight: 500;
  color: #222;
  border: 2px solid #E5E5E5;
  background-color: #FFF;
  border-radius: 0;
}
@media(max-width:992px) {  
  .we-are-two-main-block .we-are-dtl {
    padding-bottom: 60px; 
  }
}

/* ================================= */
    /*===== Features =====*/
/* ================================= */
.features-main-block {
  background-color: #F0F5F9;
  padding: 70px 0 66px;
}
.features-main-block .features-icon {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 72px;
  height: 72px; 
  color: #FF8E31;
  font-size: 34px;
  line-height: 80px;
  background: url(../images/icons/icons-bg.jpg);
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.features-main-block .features-block:hover .features-icon {
  background: #FBCB0B;
  color: #FFF;  
}
.features-main-block .features-heading { 
  color: #222;
  padding: 25px 0 20px;
}
.features-main-block p {
  line-height: 1.69;
  letter-spacing: 0.3px;
  color: #888;
}
@media(max-width:992px) {  
  .features-main-block {
    padding: 70px 0 36px;
  }
  .features-main-block .features-block {
    margin-bottom: 30px;
  }
}

/* ================================= */
    /*===== Featured Product Two =====*/
/* ================================= */ 
.featured-main-block.featured-tow { 
  padding-bottom: 0; 
}
.featured-tow .featured-block {
  margin: 0 0 0;
}
.featured-tow .featured-img, 
.featured-tow .featured-img img {
  border-radius: 0;
}
.featured-main-block.featured-tow .owl-prev {
  right: 150px;
}
.featured-main-block.featured-tow .owl-next {
  right: 100px;
}

/* ================================= */
    /*===== Testimonial Two =====*/
/* ================================= */ 
.love-us-main-block.testimonial-two {
  margin: 0;
  padding: 80px 0 110px;
}
.love-us-main-block.testimonial-two .section-heading {
  color: #252525;
}
.testimonial-two .love-us-block img {
  width: 65px;
  height: 65px;
  display: inline-block;
  margin-top: -20px;
}
.testimonial-two .love-us-client-dtl {
  display: inline-block;  
  margin-top: 30px;
  margin-left: 20px;
}
.testimonial-two .love-us-client {
  line-height: 0;
}
.testimonial-two .rating {
  padding-top: 10px;
}

/* ================================= */
    /*===== Clients Two =====*/
/* ================================= */
.clients-main-block.clients-two {
  background-color: #FFF;
}

/* ================================= */
    /*===== Preloader =====*/
/* ================================= */
.preloader { 
  background: #FFF;
  bottom: 0;
  top: 0;
  left: 0; 
  right: 0;  
  position: fixed;
  z-index: 9999999;
}
.status {
  background-image: url(../images/preloader.png);
  animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
.status,
.status-message {   
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;  
  background-position: center;
  background-repeat: no-repeat;     
}
.status-message {
  padding-top: 30%;
}
@-webkit-keyframes bounce {
  0% {
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0); 
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
  }
} 
@-moz-keyframes bounce {
  0% {
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0); 
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
  }
} 
@-o-keyframes bounce {
  0% {
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0); 
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0% {
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0); 
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
  }
}

/* ================================= */
    /*===== Gallery =====*/
/* ================================= */
.gallery-page-main-block {
  padding: 72px 0 42px;
}
.work-gallery-block {
  position: relative;
  overflow: hidden;
}
.work-gallery-block .overlay-bg {
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.work-gallery-block:hover .overlay-bg {
  opacity: 1;
}
.work-gallery-block img { 
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.work-gallery-block:hover img { 
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}
.work-gallery-block .overlay-bg i {
  color: #FFF;
  font-size: 25px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.work-gallery-block .overlay-bg i:hover {
  opacity: 1;
}
.portfolio-col-three-main {
  margin: 73px 0 50px;
}
.portfolio-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.portfolio-img img {
  width: 100%;
}
.gallery-full .work-gallery-block {
  padding: 0;
}
.gallery-full .portfolio-img {
  margin-bottom: 0;
}

/* ================================= */
    /*===== Process =====*/
/* ================================= */
.process-main-block {
  padding: 70px 0;
}
.process-two .section p {  
  margin: 15px auto 0;
  max-width: 650px;
  text-align: center;
}
.process-block {
  text-align: center;
  padding: 20px;
  box-shadow: 0px 2px 5px -1px #ECECEC;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.process-img img {
  border: 1px solid #ECECEC;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto 30px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.process-heading {
  margin-bottom: 20px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.process-block:hover {
  box-shadow: 0px 8px 10px 0 #ECECEC;
}
.process-block:hover .process-img img {
  border-color: #FF8E31;
}
.process-block:hover .process-heading {
  color: #FF8E31;
}
@media(max-width:767px) { 
  .process-block {
    margin-top: 30px;
  }
}

/* ================================= */
    /*===== Home Contact =====*/
/* ================================= */
.home-contact-main-block .parallax {
  position: relative;
  padding: 120px 0;
}
.home-contact-main-block .overlay-bg {
  background: rgba(0, 0, 0, 0.7);
}
.home-contact-main-block .section .section-heading {
  color: #FFF;
  margin-bottom: 15px;
}
.home-contact-main-block .section p {
  color: #FFF;
}
.home-contact-block {
  margin-bottom: 30px;
}
.home-contact-block ul li {
  display: block;
  color: #FFF;
  margin-bottom: 15px;
}
.home-contact-block ul li a {
  color: #FFF;
}
.home-contact-block ul li a:hover {
  color: #FF8E31;
}
.contact-social-icon ul li {
  display: inline-block; 
}
.contact-social-icon ul li a {
  display: inline-block;
  background-color: #FFF;
  color: #222;
  width: 35px;
  height: 35px;
  line-height: 38px;
  text-align: center;
}
.contact-social-icon ul li a:hover {
  background-color: #FF8E31;
  color: #FFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.home-contact-form .form-control {    
  margin-bottom: 10px;
}
.home-contact-form .btn-default {    
  padding: 12px 34px;
}
.home-contact-form .btn-default:hover {
    background-color: #FFF;
    color: #222;
}
@media(max-width:767px) { 
  .contact-social-icon {
    margin-bottom: 60px;
  }
}

/* ================================= */
    /*===== Prices =====*/
/* ================================= */
.prices-main-block {
  padding: 60px 0 60px;
}
.prices-block .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #F0F5F9;
} 
.prices-block .table>tbody>tr>td {
  vertical-align: inherit;
}
.prices-icon {
  padding-right: 20px;
}

/* ================================= */
    /*===== Why Choose 2 =====*/
/* ================================= */
.whychoose-main-block-2 {
  padding: 60px 0 28px;
}
.whychoose-main-block-2 .whychoose-block {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.whychoose-main-block-2 .whychoose-block:hover {
  box-shadow: 0 10px 75px rgba(0, 0, 0, 0.2);
}
.whychoose-main-block-2 .whychoose-block .whychoose-img img { 
  margin: 0 auto;
  left: 0;
  right: 0;
}
.whychoose-main-block-2 .whychoose-block:hover .whychoose-img img {   
  -webkit-filter: grayscale(0); 
  -ms-filter: grayscale(0); 
  -o-filter: grayscale(0); 
  -moz-filter: grayscale(0); 
  filter: grayscale(0);
}

/* ================================= */
    /*===== Market =====*/
/* ================================= */
.market-chart .btcwdgt-chart{
  text-align:center; 
  box-shadow: none !important;
}
.market-main-block {
  padding: 75px 0;
  width: 100%;
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: cover; 
  position: relative;   
}
.market-main-block .overlay-bg {
  background: rgba(0,0,0,0.7);
}
.market-heading {  
  color: #F5F5F5;
  padding: 20px 0 30px;
}
.market-block p {  
  color: #F5F5F5;
  line-height: 1.5;
  margin-right: 20px;
}
.market-block .btn-default {
  margin-top: 20px;
}
.market-block .btn-default:hover {
    background-color: #FFF;
    color: #222;
}
.market-chart .btcwdgt-chart .btcwdgt-header {
  background-color: #FF8E31!important;
}
.market-chart .btcwdgt-chart .btcwdgt-header h2 {
  background-color: #FD9743!important;
}
@media(max-width:767px) {  
  .market-chart {
    margin-top: 30px;
  }
}

/* ================================= */
    /*===== Price Plan =====*/
/* ================================= */
.price-plan-main-block {
  padding: 75px 0;
}
.price-plan-block {
  position: relative;
  color: #FFF;
  box-shadow: 2px 2px 5px #5B5B5B;
  padding: 30px 10px;
  background: linear-gradient(rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8)), rgba(48, 48, 48, 0.8) url(../images/price-01.jpg) center;
  background-size: auto 100%;
  background-position: center;
  text-align: center;
  height: 100%;
  margin: 30px 0 auto;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
}
.price-plan-block:hover {
  background-size: auto 110%;
  -webkit-transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #FF8E31;
  box-shadow: 4px 4px 8px #5B5B5B;
}
.price-subheading {
  color: #FFF;
  margin: 20px 0;
}
.price-heading {
  color: #FF8E31;
  margin: 10px 0;
}
.price-text {  
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
}
.price-icon {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #333;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.price-plan-main-block p {  
  margin: 15px auto 0;
  max-width: 650px;
  text-align: center;
}
.price-plan-block .btn-default:hover {
    background-color: #FFF;
    color: #222;
}
@media(max-width:767px) {  
  .price-plan-block {
    margin-top: 50px;
  }
}

/* ================================= */
    /*===== Chart =====*/
/* ================================= */
.footer-chart #marquee-inner {
  background-color: #FF8E31;
  padding: 8px 0;
}
#marquee-inner span {
  color: #FFF !important;
}
.footer-chart {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  z-index: 1;  
}
.ccc-header-v3-price-logo {
  margin-right: 10px;
}

/* ================================= */
    /*===== Converter =====*/
/* ================================= */
.converter-main-block {
  background-color: #252525; 
  color: #FFF;
  padding: 80px 0;
}
.calculator-block {
  background-color: #FFF; 
  box-shadow: 2px 5px 5px rgba(0,0,0,1);
}
.calculator-top {
  background-color: #FF8E31;
  padding: 20px 20px 40px 20px;
  text-align: center;
}
.calculator-heading {  
  color: #FFF;
  line-height: 1.2;
  font-weight: 500;
}
.calculator-heading span {
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.calculator-body {
  padding: 45px 25px 25px;
  border: 1px solid #ECECEC;
  position: relative;
}
.currency-icon {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 5px;
}
.calculator-block .cryptonatorwidget input, 
.calculator-block .cryptonatorwidget select {
  height: 40px !important;
  line-height: 40px !important;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  outline: none;
  padding-left: 10px;
}
.calculator-block .cryptonatorwidget {
  padding: 0 !important;
  border: none !important;
  margin-bottom: 15px;
}
.calculator-block table,  
.calculator-block td {
  border: none !important;
}
.calculator-block td {
  padding: 8px 8px 0 0 !important;
}
.calculator-block .cryptonatorwidget div {
  display: none !important;
}
.converter-heading {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.converter-heading span {
  color: #FF8E31;
}
.converter-block p {
  line-height: 1.6;
  margin-right: 30px;
}
.converter-block .btn-default {
  margin-top: 20px;
}
.converter-block .btn-default:hover {
  background-color: #FFF;
  color: #222;
}
@media(max-width:767px) {  
  .calculator-block {
    margin-top: 30px;
  }
}
