/************************************
    File Name: colors.css
    Template Name: NurseryPlant
    Created By: Themestall
    Envato Profile: http://themeforest.net/user/themestall
    Version: 1.0.0
************************************/


/* PRIMARY COLOR */
.ribbon_alt span::before {
    border-left: 3px solid #fed602;
    border-top: 3px solid #fed602;
}

.ribbon_alt span::after {
    border-right: 3px solid #fed602;
    border-top: 3px solid #fed602;
}

.bgcolor,
.day-box .title-type h4,
.cdetails i,
.nav-tabs > li:hover a,
.nav-tabs > li:focus a,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus,
.restaurant-list .magni-desc a,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,
.checkbox-primary input[type="checkbox"]:checked + label::before,
.page-numbers li span,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.checkbox-primary input[type="radio"]:checked + label::before {
	color:#ffffff;
    background-color: #1f2839;
    border-color: #1f2839;
}


.bootstrap-datetimepicker-widget.dropdown-menu {
    background: #fed602 none repeat scroll 0 0;
    border-color: #fed602 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.more-link:hover,
.more-link:focus{
	background: #fed602;
	color: #1f2839;
}


/* PRIMARY COLOR HOVER */
.section.lb #owl-tours.owl-custom .owl-nav [class*="owl-"],
.show-forms span,
.magni-portfolio a,
.tagwidget li:hover,
.sidebar .searchform .input-group-addon,
.tagcloud a:hover,
.blog-tags li:hover {
  color: #ffffff !important;
  background-color: #6bb42f !important;
  border-color: #6bb42f !important;
}

.section-big-title hr,
.cdetails p:hover i,
.restaurant-list .magni-desc a:hover,
.ribbon_alt span,
.car-list-wrap .list-categories li:hover,
.list-grid a.active,
.car-sidebar .search-top .bootstrap-select.btn-group .dropdown-menu li:hover a,
.slider-selection,
.modal .close,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li.current > a,
.pagination > li > a:focus,
.pagination > li > span:focus,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.car-wrapper .list-inline li,
.car-price,
.invis-title,
.btn-primary,
.topbar .dropdown-menu li:hover a,
.topbar .dropdown-menu li:focus a,
.more-link,
.btn-home  {
  color: #ffffff;
  background-color: #6bb42f;
  border-color: #6bb42f;
}

#owl-tours.owl-custom .owl-nav [class*="owl-"] {
  color: #6bb42f !important;
}
.lightbox .box h4,
.question h3 strong,
.welcome-text a,
.normal-register .col-register h4,
.sitemap-title,
.intro h1,
.media-body h5 a,
.authorbox a,
.closed,
.blog-meta ul li i,
.comments-list .media h5,
.restaurant-list .cruise-span a,
.vehicle-price strong,
.agent-contact a,
.car-single-title i,
.sidebar .twitter-posts a,
.breadcrumb > li a,
.shop-top p a,
.mapbox-wrap small,
.copyrights a,
.stat-wrap i,
.copyrights a:hover,
.calloutbox h2 strong,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-toggle,
.navbar .navbar-toggle:hover,
.small-title-area i,
.navbar .navbar-toggle:focus,
.comment-edit-link,
.comment-reply-link,
.transparent-header .topbar ul li a:hover {
  color: #6bb42f;
}

.twitter-posts a {
  border-color: #6bb42f;
}

.bootstrap-datetimepicker-widget td span:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover,
.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  background: #6bb42f !important;
  background-color: #6bb42f !important;
  color:#ffffff !important;
}
/* SECOND COLOR */
.callusbox h4 i,zz
.day-box strong,
.car-list-wrap .readmore,
.car-list-wrap .list-inline li a,
.cruise-span strong,
.section-title a,
.list-categories li a,
.list-item .readmore,
.list-bottom sub{
	color: #2f88b9;
}

.custom-tours .car-wrapper .list-inline li,
.ribbon_featured,
.list-categories li:hover,
.bg {
  background-color: #2f88b9;
  border-color: #2f88b9;
  color: #ffffff;
}

.navbar .dropdown-menu li > a:focus,
.navbar.navbar-default .dropdown-menu li > a:focus,
.navbar .dropdown-menu .active > a,
.navbar.navbar-default .dropdown-menu .active > a,
.navbar .dropdown-menu .active > a:hover,
.navbar.navbar-default .dropdown-menu .active > a:hover,
.navbar .dropdown-menu .active > a:focus,
.navbar.navbar-default .dropdown-menu .active > a:focus
.navbar .navbar-nav > .open > a, 
.navbar .navbar-nav > .open > a:hover, 
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus{
	/*color: #6bb42f;*/
}

.navbar .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:hover,
.dropdown-menu > li > a:focus{
	color: rgba(255, 255, 255, 0.8);
	background: #6bb42f;
}

/* SECOND COLOR HOVER */
.ribbon span  {
  background-color: #1f2839;
}

/* DARK COLOR */
.portfolio-filter ul li a.active,
.portfolio-filter ul li a:hover {
  background-color: #102b4e !important;
  color:#ffffff !important;
}
.list-grid a,
.car-sidebar,
.footer .social-links .icon,
.footer-box {
  background-color:#102b4e;
}
@media (max-width: 992px) {
    .transparent-header .navbar-default,
    .transparent-header .header,
    .transparent-header .topbar {
        background-color: #102b4e;
    }
}
/* DARK SECOND COLOR */

.footer,
.car-sidebar .search-top .time-picker .form-control, .car-sidebar .search-top textarea, .car-sidebar .search-top .btn-default:hover, .car-sidebar .search-top .btn-default:focus, .car-sidebar .search-top .bootstrap-select.btn-group .dropdown-menu, .car-sidebar .search-top .btn-group.open .dropdown-toggle, .car-sidebar .search-top .btn-default {
    background-color: #1f2839;
    border-color: #1f2839;
}
@media (min-width: 992px) {
    .transparent-header .header.affix {
        background-color: #183356;
    }
}