@font-face {
	font-family: 'Conv_Nexa Bold';
	src: url('fonts-nexa/fonts/Nexa Bold.eot');
	src: local('☺'), url('fonts-nexa/fonts/Nexa Bold.woff') format('woff'), url('fonts-nexa/fonts/Nexa Bold.ttf') format('truetype'), url('fonts-nexa/fonts/Nexa Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Nexa Light';
	src: url('fonts-nexa-light/fonts/NexaLight.eot');
	src: local('☺'), url('fonts-nexa-light/fonts/NexaLight.woff') format('woff'), url('fonts-nexa-light/fonts/NexaLight.ttf') format('truetype'), url('fonts-nexa-light/fonts/NexaLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container, nav {
	max-width: 1280px;
	margin: 0 auto;
	font-family:'Conv_Nexa Bold',Sans-Serif;
}

.container {
	width: auto;
	padding: 0;
}

.pl-header {
	/*background: #00a89d;*/
	background: #1f2839;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	height: 70px;
}

.sub-container {
	margin: 10px;
    padding: 50px 15px 10px 15px;
	border: 2px solid #00a89d;
	height: 784px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
	font-size: 14px;
	padding: 25px 30px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #ffffff;
    background-color: transparent;
}

.navbar-brand .logo {
	max-width: 150px;
}

.button-shadow {
	max-width: 460px;
	margin-bottom: 20px;
    text-align: center;
    display: block;
    padding: 10px;
    background: #ffffff;
    color: #333333;
	border-radius: 2px;
	font-size: 18px;
	-webkit-box-shadow: inset 0px 0px 32px -3px rgba(0,0,0,0.52);
	-moz-box-shadow: inset 0px 0px 32px -3px rgba(0,0,0,0.52);
	box-shadow: inset 0px 0px 32px -3px rgba(0,0,0,0.52);
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}

.height-90 {
	height: 90px;
	max-width: 575px;
	min-width: 460px;
}

.height-45 {
	height: 45px;
	max-width: 575px;
	min-width: 460px;
}

.small {
	font-family:'Conv_Nexa Light',Sans-Serif;
	font-size: 18px;
	height: 35px;
	width: 180px;
	padding: 5px 10px;
	margin-top: 5px;
}

.tr-button {
	width: 115px;
	height: 45px;
	color: #ffffff;
	background-color: #00a89d;
	padding: 5px 40px;
	font-size: 24px;
}

.table-type-one, .table-type-two {
	width: 80%;
    margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	font-size: 18px;
}

.table-type-two {
	width: 100%;
}

.border-dotted-both {
	background: url(../images_plant/border-dotted.png), url(../images_plant/border-dotted.png);
    background-repeat: repeat-x;
    background-position: top, bottom;
    background-size: 30px;
    height: 70px;
}

.border-dotted-top {
	background: url(../images_plant/border-dotted.png);
    background-repeat: repeat-x;
    background-position: top;
    background-size: 30px;
    height: 70px;
}
.border-dotted-bottom {
	background: url(../images_plant/border-dotted.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 30px;
    height: 70px;
}

.table-width-adj {
	width: 5%;
}

.table-type-one th, .table-type-two th {
	text-align: center;
	height: 40px;
	font-family:'Conv_Nexa Bold',Sans-Serif;
}

.table-type-one td, .table-type-two td {
	height: 40px;
	font-family:'Conv_Nexa Light',Sans-Serif;
}
.members-name, .refer-and-earn {
	font-size: 8px !important;
	color: #ffffff;
}



.button-flex {
	display: flex;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-flow:  row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.calculate-button-leaf {
	font-size: 20px;
	width: 325px;
    height: 70px;
    background-color: #ffffff;
    border: 0;
    background: url(../images_plant/calculate-border-leaf.png) no-repeat 100% #ffffff;
    border-radius: 12px;
	margin-top: -30px;
}

.calculate {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.Benefits .sub-container {
	background: url('../images_plant/partner-bg.jpg');
}
.current-plants .sub-container {
	background: url('../images_plant/members-area-bg.jpg');
}

.scale .sub-container {
	background: url('../images_plant/equipment-tree-bg.jpg');
}

.mail-tab {
	display: flex !important;
	flex-direction: row;
	margin-top: 25px;
}

.mail-names {
	display: flex;
	flex-direction: column;
	padding-left: 5px;
}

.plant-details {
	width: 530px;
	padding: 15px;
	background-color: #ffffff;
	-webkit-box-shadow: inset 0px 0px 32px -3px rgba(0,0,0,0.52);
	-moz-box-shadow: inset 0px 0px 32px -3px rgba(0,0,0,0.52);
	box-shadow: inset 0px 0px 32px -3px rgba(0,0,0,0.52);
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}

.table-type-three {
	width: 100%;
	/* border-spacing: 15px;
    border-collapse: unset; */
}

.table-type-three tr {
	height: 50px;
    background: url(../images_plant/table-bar-tr.png) no-repeat bottom;
    background-size: 100%;
}

.table-type-three.up td:last-child {
	background: url(../images_plant/table-bar-td.png) no-repeat left top;
    background-size: 2px 93%;
}

.table-type-three.down tr:last-child {
	background: transparent;
}

.table-type-three.down tr:last-child td {
	background: transparent !important;
}

.table-type-three tr td {
	width: 33.3333%;
}

.table-type-three tr td:first-child {
	text-align: left;
    padding-left: 40px;
    background: url(../images_plant/table-bar-td.png) no-repeat right top;
    background-size: 2px 93%;
}

.table-type-three tr td:last-child {
	text-align: right;
	padding-right: 40px;
}

.buttons {
	padding: 5px 30px;
	color: #ffffff;
	text-align: center;
    border: 0;
    width: 150px;
}
.buttons.grean {
	background: #00a89d;
}
.buttons.blue {
	background: #0084a3;
}
.buttons.small {
	font-size: 9px;
	width: 50px;
	padding: 3px 5px;
	margin-left: 5px;
	height: 25px;
}

.buttons.medium {
	width: 75px;
    font-size: 11px;
    padding: 5px 8px;
    float: left;
    margin-left: 20px;
}

.plant-table {
	display: flex;
}

.doller-img {
	margin-right: 0;
    margin-left: 50px;
    padding-top: 70px;
    background: url(../images_plant/doller-top-bar.png) no-repeat;
    background-position-x: -4px;
    background-position-y: 38px;
    overflow: visible;
    background-size: 131%;
}
.doller-img img {
	padding-left: 34px;
    padding-right: 20px;
    width: 250px;
}

.table-type-four {
	width: 200px;
	text-align: center;
	font-size: 11px;
	margin-top: 160px;
}

.table-type-four tr {
	height: 30px;
}

.table-type-four tr td:first-child {
	text-align: left;
}

.button-align {
	display: flex;
}
.button-align.buttons {
	padding: 5px 20px;
}

.bottom-range-img {
	margin: 0 auto;
	max-width: 1120px;
	margin-top: 20px;
}
	
.bottom-range-img img {
	width: 100%;
}

.plant-plan-row {
	margin-top: 70px;
}

.plant-plan {
	display: flex;
	align-items: center;
}

.plant-plan-right {
	align-items: center;
    display: flex;
    justify-content: space-between;
}

.plant-plan-right .tree-area {
	margin-top: 120px;
	justify-content: flex-end;
}

.plant-plan span {
	font-size: 24px;
	padding-left: 30px;
}


.range-600 {
	margin-top: 40px;
	text-align: center;
	text-align: center;
}
.range-600 .scale-values {
	max-width: 600px;
	}

.range-600 img {
	width: 100%;
}
.top-margin {
	margin-top: 40px;
}

/*Flex Scale*/
.scale-range {
	display: flex;
	color: #010101;
	margin-top: 60px;
    padding: 5px 10px;
	}
.scale-left {
	padding-right: 10px;
	}
.scale-right {
	padding-left: 10px;
	}
.scale-middle {
	display: flex;
	flex-grow: 2;
	flex-direction: row;
	background:url(../images_plant/scaleMainBar.png) no-repeat;
	background-size: 100%;
	background-position: center;
	position: relative;
	align-items: center;
	}
.middle-bar {
	flex-grow: 2;
	}
.range-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 70px;
	}
.range-bar-flex {
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 6%;
	}
.range-bar-1 {
	position: absolute;
	left: -3%;
	}
.range-bar-2 {
	position: absolute;
	left : 10%;
	}
.range-bar-3 {
	position: absolute;
	left : 24%;
	}
.range-bar-4 {
	position: absolute;
	left : 39%;
	}
.range-bar-5 {
	position: absolute;
	left : 54%;
	}
.range-bar-6 {
	position: absolute;
	left : 70%;
	}
.range-bar-7 {
	position: absolute;
	left : 84%;
	}
.range-bar-8 {
	position: absolute;
	left : 97%;
	}
.bottom-text {
	line-height: 1;}
.sub-top-text {
	font-size: 11px;
	font-family:'Conv_Nexa Bold',Sans-Serif;
	}
.sub-bottom-text, .top-text {
	font-size: 8px;
	font-family:'Conv_Nexa Light',Sans-Serif;
	}
.top-leaf {
	margin-top: -50px;
	}
.scale-values {
	display: flex;
	justify-content: space-between;
	max-width: 580px;
	font-size: 11px;
	font-family:'Conv_Nexa Bold',Sans-Serif;
	}

@media screen and (max-width: 1060px) {
	.navbar-inverse .navbar-nav>li>a {
		padding: 25px 12px;
		font-size: 10px;
	}
}

@media screen and (max-width: 990px) {
	.plant-plan-row {
		margin-top: 40px;
	}
	.range-600 {
		margin-top:20px;
	}
	.Benefits .sub-container {
		background: url('../images_plant/mobile-bg2.png');
		height: 940px;
	}
	.current-plants .sub-container {
		background: url('../images_plant/mobile-bg1.png');
		height: 940px;
	}
	.scale .sub-container {
		background: url('../images_plant/mobile-bg2.png');
		height: 940px;
	}
	.plant-plan {
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 60px;
	}
	.plant-plan img {
		width: 120px;
	}
	.plant-plan-right {
		max-width: 600px;
		margin: 0 auto;
	}
	.table-type-two {
		font-size: 15px;
	}	
	.table-type-two .table-width-adj {
		width: 0;
	}
	.table-type-one {
		width: 100%;
	}
	.justify-content-center {
		float: none;
		margin: 0 auto;
	}
	.top-margin {
		margin-top: 130px;
	}
	.top-bottom-margin-mobile {
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.doller-img {
		margin-right: 0;
		margin-left: 0;
		padding-top: 70px;
		background: url(../images_plant/doller-top-bar.png) no-repeat;
		background-position-x: -4px;
		background-position-y: 38px;
		overflow: visible;
		background-size: 131%;
	}
	.doller-img img {
		width: 180px;
	}
	
	.tree-table {
		margin-top: 50px;
	}

	.tree-table table {
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.navbar-nav {
		margin: 0 -15px;
	}
	.navbar-inverse .navbar-toggle {
		border: 0;
		margin-top: 17px;
	}
	.navbar-toggle .icon-bar {
		border-radius: 0;
		width: 30px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: 0;
		background-color: #00a89d;
		text-align: center;
	}
	.pl-header {
		height: auto;
		min-height: 70px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 16px;
		padding: 15px 12px;
	}
	.mail-tab {
		display: block !important;
		margin-top: 0;
	}
	.members-name, .refer-and-earn {
		font-size: 14px !important;
	}
	.nav>li {
		border-bottom: 1px solid #fff;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
	    border-top: 0px solid transparent;
    	-webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
	}
	.mobile-adjust {
		max-width: 490px;
	}
	.mobile-center {
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px) {
	.table-type-three {
		font-size: 12px;
	}
	.plant-details {
		width: 320px;
	}
	.buttons {
		width: 110px;
	}
	.doller-img img {
		width: 140px;
	}
	.tree-table table {
		margin: 0 auto;
	}
}

@media screen and (max-width: 500px) {
	.height-90, .height-45 {
		font-size: 14px;
		max-width: 310px;
		min-width: 310px;
		margin: 10px auto;
	}
}




