body {
      position: relative; 
        font-size: 14px;
        font-weight: 400;
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
      width: 100% !important;
          margin-left: 0% !important;
              padding-right: 165px;
  }
  .navbar {
      margin-bottom: 0px;
  }
  .navimg{
    padding-top: 5px;
    width: 67%;
  }
  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  .navbar-brand {
    float: left;
    height: 43px;
    padding: 1px 15px;
    font-size: 18px;
    line-height: 20px;
}

.affix ~ .navbar-brand {
     margin-left: 20px;
  }

.navbar-inverse {
    background-color: #1F2839;
    border-color: #1F2839;
}
.about{
    background-color: #1F2839;
    color: white;
    padding-top: 31px;
    border-radius: 5px;
    padding-left: 44px;
    padding-bottom: 52px;
}
.fa-angle-right{
    padding-right: 10px;
    padding-bottom: 12px;
}
.fa-angle-right:hover{
    transform: translateX(10px);
    transition: transform 1.0s ease;
}
.home_ul{
    list-style-type: none;
    padding-top: 31px;
    font-family: 'Poppins', sans-serif;
    padding-left: 90px;
}
a:hover{
    text-decoration: none;
    color: white;
}
.abt_con{
    margin-top: 49px;
}
.mission{
    color:white;
}
.grnimg{
    width: 132px;
    margin-left: 50px;
    border-radius: 100%;
}
.list-inline {
    padding-left: 0;
    margin-left: 92px;
    padding-top: 10px;
    list-style: none;
}
.text-center1 {
    text-align: center;
    /*margin-left: 199px !important;*/
    font-weight: 700;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-weight: 800;
    font-size: 15px;
}
.navbar-nav {
    float: right;
}
.li_home1{
    background-color: #6BB42F;
}
.li_home:hover{
    background-color: #6BB42F;
}

.glyphicon-trash:hover, .glyphicon-search:hover{
    color: #6BB42F;
}
.hm_abt{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 28px;
}
.hm_p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.research{
    text-align: center;
    font-size: 15px;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    color: black;
    font-weight: 500;
}
.hm_rsrch{
    font-size: 42px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: #6bb42f;
    text-align: center;
}
.divider-title {
    height: 2px;
    display: block;
    width: 100px;
    margin: 15px auto 0;
    position: relative;
    transition: all .3s ease-in-out;
}
.divider-title span.span-1 {
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -4px;
    display: block;
    content: "";
    z-index: 1;
    width: 70px;
    left: 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.hm_refresh{
    padding-top: 18px;
    padding-left: 40px;
}
.hm_row{
    margin-bottom: 31px;
    margin-top: 64px;
    
    border-bottom: 1px solid #6CB430;
}
.img_bor{
    border-left: 1px solid #6CB430;
    height: 179px;
}
.img_cac{
    height: 188px !important;
    border-left: 1px solid #6CB430;
    margin-top: -31px;
    padding-top: 40px;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.hom_h4{
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #6bb42f;
}
.carousel-inner .carousel-item-left.active {
    transform: translateX(-50%);
  }
  .carousel-inner .carousel-item-right.active {
    transform: translateX(50%);
  }
  
  .carousel-inner .carousel-item-next {
    transform: translateX(50%)
  }
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%)
  }
    
  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{ 
    transform: translateX(0);
  }
ul{
    list-style: none;
}  
.john{
    float: left;
}
.carousel-control{
    background-color: transparent;
    background-image: none !important;
}
.carousel-inner{
    display: flex;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.caret {
    display: none;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: white;
}
.href{
    color: white;
    font-weight: bold;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding-left: 15px;
    transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    position: absolute;
    background-color: #4CAF50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.hm:hover{
    transform: translateX(10px);
    transition: transform 0.6s ease;
}
.cart-item-num {
    position: absolute;
    right: -10px;
    top: 3px;
    border-radius: 100%;
    background: #6aa42f;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
    width: 84.5%;
    margin-left: 104px;
}

/*@media (min-width: 768px) and (max-width: 991px) {*/
@media  (max-width: 991px) {
   .navbar {
    margin-bottom: 0px;
    width: 84.5%;
    margin-left: 46px;
}
}


